body {
    margin-bottom: 0;
}
.homebg{
  background-color: #DEE7F4;
  margin-bottom: 0.8%;
  padding: 1% 2% 2% 2%;
  height: auto;
  min-height: 100vh;
  overflow:hidden;
}
.container-fluid{
    width: 100%;
    margin-top: 15px;
    padding: 70px;
    visibility: visible;
    animation-delay: 0.1s;
    background-color: #00B074 !important;
    
}


.floatingdiv{
    width: 89.5%;
    background-color:white;
    margin-top: -130px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 70px;
    visibility: visible;
    position:absolute;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}
.nicherdiv{
    background-color:white;
    height: 300px;
    padding: 70px;
    margin-top: -48px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.vacancydiv{
    display: table-cell;
    width: 20%;
    
    justify-content: center; 
    
}
.companydiv{
    display: table-cell;
    width: 20%;
    justify-content: center; 
}
.newjobdiv{
    display: table-cell;
    width: 20%;
}
.vacancy{
    display: table-cell;
    width: 25%;
    margin-right: 300px;
    margin-left: 80px;
    margin-top: 100px;
    float: right;
}
.company{
    display: table-cell;
    width: 20%;
    margin-right: 300px;
    margin-left: 80px;
    margin-bottom: 15px;
}
.newjob{
    display: table-cell;
    width: 25%;
    margin-right: 300px;
    margin-left: 80px;
    

}
.recommendationdiv{
    background-color:white;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.jobdiv{
    background: #F7FFFF;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
  padding: 2%;
  width: 95%;
  margin-top: 1.5%;
}