body {
    margin-bottom: 0;
}
.homebg{
  background-color: #DEE7F4;
  padding: 1% 2% 2% 2%;
  height: auto;
  min-height: 100vh;
  overflow:hidden;
}

.container-fluid{
    width: 100%;
    margin-top: 20px;
    padding: 77px;
    padding-bottom: -10px;
    visibility: visible;
    animation-delay: 0.1s;
    background-color: #410390 !important;
    
}


.floatingdiv{
    width: 89.5%;
    background-color:white;
    margin-top: -130px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 70px;
    visibility: visible;
    position:absolute;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}
.nicherdiv{
    background-color:white;
    height: 410px;
    padding: 70px;
    margin-top: -48px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.vacancydiv{
    display: table-cell;
    width: 10%;
    margin-top: 150px;
    
}
.companydiv{
    display: table-cell;
    width: 20%;
    justify-content: center; 
}
.newjobdiv{
    display: table-cell;
    width: 20%;
}
.vacancy{
    display: inline;
    width: 25%;
    margin-top: 150px;

}
.company{
    display: table-cell;
    width: 20%;
    margin-right: 300px;
    margin-left: 80px;
    margin-bottom: 15px;
}
.newjob{
    display: table-cell;
    width: 25%;
    margin-right: 300px;
    margin-left: 80px;
    

}
.recommendationdiv{
    background-color:white;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding:10px 0px 50px 0px;
    overflow: hidden;
}
.jobdivhome{
    background: #F7FFFF;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
  padding: 2%;
  width: 94%;
  margin-top: 1.5%;
  margin-left: 40px;
    margin-right:40px;
}

.briefcaselogo{
    z-index: 1;
    position: absolute;
    left:77%;
    top: 16%;
    height: 180px;
    width: 180px;
}

.icondiv{
    margin-top: 14%;
}
.icondiv2_1{

    width:25%;
    display: inline;
    position: absolute;
    left: 8%;
    margin-right: 10px;
}
.icondiv2_2{

    width:25%;
    display: inline;
    position: absolute;
    left: 38%;
}
.icondiv2_3{

    width:25%;
    display: inline;
    position: absolute;
    left: 67%;
}
.imageicon_1{
    height: 100px;
    width: 100px;
    display: inline;
    position: absolute;
    left: 0%;
}
.imageicon_2{
    height: 100px;
    width: 100px;
    display: inline;
    position: absolute;
    left: 5%;
}
.imageicon_3{
    height: 100px;
    width: 100px;
    display: inline;
    position: absolute;
    left: 10%;
}
.imageicontitle_1{
    display: inline;
    position: absolute;
    left: 30%;
    margin-top: 24px;
}
.imageicontitle_2{
    display: inline;
    position: absolute;
    left: 35%;
    margin-top: 24px;
}
.imageicontitle_3{
    display: inline;
    position: absolute;
    left: 35%;
    margin-top: 24px;
}
#grad1 {
  background-color: #29A335; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #6DEA7A , #A4FFDD);
}
.float_right_btn_home {
  width: 12%;
  height: 30px;
  margin-top: -2.5%;
  padding: 0.1%;
  background-color:#214BB3;
  color: white;
  border: none;
  border-radius: 5px;
  float: right;
  transition-duration: 0.4s;

}
.float_right_btn_home:hover {
  background-color: #410390;
  color: white;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24);
}